
    <!-- Scripts -->
    <script src={{ "assets/js/jquery.min.js" | absURL }}></script>
    <script src={{ "assets/js/browser.min.js" | absURL }}></script>
    <script src={{ "assets/js/breakpoints.min.js" | absURL }}></script>
    <script src={{ "assets/js/util.js" | absURL }}></script>
    <script src={{ "assets/js/main.js" | absURL }}></script>
    <script src="https://utteranc.es/client.js"
        repo="yhsiang/blog"
        issue-term="pathname"
        theme="github-dark"
        crossorigin="anonymous"
        async>
    </script>
</html>